@import "tailwindcss";

.responsive-calendar {
  width: 100%;
  max-width: 100%;
}

.react-calendar__tile--highlight {
  background: #e6fffa;
  border-radius: 50%;
  transition: background 0.3s;
}

.react-calendar__tile:enabled:hover,
.react-calendar__tile:enabled:focus {
  background: #c3fae8;
  border-radius: 50%;
}